<div class="flex flex-col justify-start items-center h-screen">
  <div
    class="w-3/4 grid grid-cols-1 md:grid-cols-2 justify-center items-center"
  >
    <h1 class="text-7xl text-kubakMain md:order-first order-last">
      We create <span class="font-bold">the app</span> you need!
    </h1>
    <img alt="" src="/assets/3d_phone.png" class="h-4/5 hero-img" />
    <div class="flex gap-3 justify-start items-center">
      <h1 class="text-2xl text-kubakMain">{{ viewCount }}</h1>
      <h2 class="font-light">view{{ viewCount ?? 0 > 1 ? "s" : "" }}</h2>
    </div>
  </div>
</div>
