<div class="flex justify-center items-center z-20">
  <div
    class="w-3/4 grid grid-cols-1 md:grid-cols-2 justify-center items-center"
  >
    <div class="flex flex-col justify-center items-start py-10 gap-5">
      <div class="flex items-center gap-4">
        <span class="material-icons text-kubakMain"> person </span>
        <h1 class="font-bold text-kubakMain">Human Centered</h1>
      </div>
      <p class="text-gray-600 font-light text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt sapien ac mollis sodales. Aliquam commodo auctor libero eu
        venenatis. Maecenas ipsum libero, placerat a tempor at, pellentesque ac
        justo. Ut risus augue, eleifend ac odio in, sollicitudin molestie urna.
        Nullam a est ut elit porta rutrum hendrerit eget enim.
      </p>
    </div>
    <div class="flex flex-col justify-center items-start py-10 gap-5">
      <div class="flex items-center gap-4">
        <span class="material-icons text-kubakMain"> language </span>
        <h1 class="font-bold text-kubakMain">Cross-Platform</h1>
      </div>
      <p class="text-gray-600 font-light text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt sapien ac mollis sodales. Aliquam commodo auctor libero eu
        venenatis. Maecenas ipsum libero, placerat a tempor at, pellentesque ac
        justo. Ut risus augue, eleifend ac odio in, sollicitudin molestie urna.
        Nullam a est ut elit porta rutrum hendrerit eget enim.
      </p>
    </div>
  </div>
</div>
